{% extends 'layout.html' %}


{% block content %}


    <div class="container-fluid">

        {% if is_available %}
            <div class="d-flex flex-wrap justify-content-center">

                {% for book in books %}

                    <div class="m-5 text-center" style="background-color: aliceblue;">

                        <img src="{{ book.book_cover.url }}" width="265" height="350" class="img-fluid" alt="cover">
                        
                        <h4 class="mt-2">{{ book.title }}</h4>
                        <h5 class="text-secondary">{{ book.author }}</h5>

                        <div class="input-group-text">
                            <h6 class="text-success" style="margin-right: 40px;">Price: {{ book.price }}</h6>
                            <h6 class="text-info">Quantity: {{ book.stock_quantity}}</h6>
                        </div>

                    </div>

                {% endfor %}
        
        {% else %}
                    <div class="box-container">
                        <h3 class="text-info m-3 text-capitalize">No book is added yet</h3>
                    </div>
        {% endif %}

        </div> 
        
    </div>


{% endblock %}